{
    "presets": [
        [
            "env", 
            {
                targets: {
                    "browsers": ["safari >= 7", "ie >= 9"],
                    "node": "current"
                },
                useBuiltIns: false
            }
        ],
        "stage-2"
    ]
}
