@charset "utf-8";
/*CSS Document*/
/*Author zooble@2013-4-12*/
/*------------------------------------*/
*{margin: 0; padding: 0;}
ul li{list-style: none;}
img{border: none;}
.myFocus{width: 720px; height: 300px; overflow: hidden;}
.jx_lb_wrap{width: 720px;height: 300px;overflow: hidden;margin: 100px auto;position: relative;}
.pic{position: absolute; left: 0; overflow: hidden; *zoom: 1;}
.pic li{float: left; width: 720px; height: 300px; list-style: none;}
.num_ul{position:absolute; bottom: 10px;right: 10px;z-index: 1; cursor: pointer;}
.num_ul li{float: left;list-style: none;width: 26px;height: 26px;text-align: center;line-height: 26px;border: solid 1px #333;background: #999;margin-left: 5px;}
.num_ul li.active{border: solid 1px #333;background: #f00;}