---
layout: default
# title: Translation
# order: 3
# permalink: /translation/
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

<div class="category">
  <ul class="category-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- assign category = page.title | downcase -%}
    {%- for post in site.posts -%}
    {%- if post.categories contains category -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>